/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
.logo {
  background-image: none !important;
  background: none !important;
}
.logo img {
  height: 40px;
  width: auto;
}




