body {
margin: 0px;
}

div {
width: 250px;
height: 100px;
color: black;
font-weight: bold;
text-align: center;
}

#d1 {
border: 5px solid #000000;
background-color: red;
margin: 0px;
}

#d2 {
border-width: 6px 6px 3px 6px;
border-style: solid;
border-color: #000000;
background-color: green;
margin: 10px 0px 0px 15px;
}

#d3 {
border-width: 3px 6px 3px 6px;
border-style: solid;
border-color: #000000;
background-color: blue;
margin: 10px 0px 0px 15px;
}

#d4 {
border: 5px solid #000000;
background-color: yellow;
margin: 0px 0px 0px 276px;
}
