body {
  margin: 0px;
}

div {
  width: 250px;
  height: 100px;
  color: black;
  font-weight: bold;
  border: 5px solid #000000;
  line-height: 100px; 
  margin-left: 0;     
  margin-right: 0;
  margin-top: 25px;
}

#d1 {
  background-color: red;
  text-align: center;
  padding: 0px;
}

#d2 {
  background-color: green;
  text-align: center;
  padding: 0px;
}

#d3 {
  background-color: blue;
  text-align: center;
  padding: 0px;
}

#d4 {
  background-color: yellow;
  text-align: center;
  padding: 0px;
}
