body {
margin: 0px;
}

div {
width: 250px;
height: 100px;
color: black;
font-weight: bold;
margin: 25px;
}

#d1 {
float: left;
background-color: red;
border: 5px solid black;
}

#d2 {
float: left;
background-color: green;
border: 9px solid yellow;
}

#d3 {
float: left;
background-color: blue;
border: 3px solid purple;
}

#d4 {
float: left;
background-color: purple;
border: 5px inset silver;
}