ul {
background-color: purple;
border: 1px solid #000000;
width: 95%;
margin: auto;
list-style-type: none;
}

ul li:before {
content: "\2022";
color: gold;
font-weight: bold;
display: inline-block;
width: 1em;
margin-left: -1em;
}

li {
background-color: #cccccc;
border: 1px solid #ffff00;
}

h1 {
text-align: center;
width: 50%;
color: white;
background-color: black;
margin: auto;
margin-bottom: 20px;
border-radius: 5px;
}