body {
font: 12pt Verdana, Arial, Georgia, sans-serif;
}

#nav {
width: 150px;
float: left;
margin-top: 12px;
margin-right: 18px;
}

#content {
width: 550px;
float: left;
}

/* links */
#nav a {
text-decoration: none;
}

#content a {
text-decoration: none;
font-weight: bold;
}

/* nav list reset */
#nav ul {
list-style: none;
margin: 12px 0px 0px 0px;
padding: 0px;
}

/* borders */
#nav ul li {
border-bottom: 1px solid #ffffff;
}

/* normal state */
#nav li a:link,
#nav li a:visited {
font-size: 10pt;
font-weight: bold;
display: block;
padding: 3px 0px 3px 3px;
background-color: #628794;
color: #ffffff;
}

#nav ul li a:hover,
#nav li a:active {
font-size: 18pt;
font-weight: bold;
display: block;
padding: 5px;
background-color: #6cac46;
color: #000000;
}

/* nested list reset */
#nav ul ul {
margin: 0px;
padding: 0px;
}
