body {
font: 12pt Verdana, Arial, Georgia, sansserif;
}

header {
width: 50%;
}

#logo {
float: left;
}

header nav li {
list-style: none;
display: inline;
}

header nav ul li a {
display: inline;
text-decoration: none;
}

section {
width: auto;
float: left;
clear: left;
}

section a {
text-decoration: none;
font-weight: bold;
}