body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f7f7;
}
h2 {
  font-family: Sans, sans-serif;
}

/* Banner */
.banner img {
  width: 100%;        
  max-width: 1200px;  
  height: auto;       
  display: block;
  margin: 0 auto;   
}

.menu-note {
  text-align: center;
  font-size: 1.1rem;
  color: #555;
  width: 70%;
  margin: 20px auto;
  line-height: 1.5;
}


.thumb-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  max-width: 900px;
  margin: 20px auto;
  padding: 10px;
}
.thumb-grid img {
  width: 100%;
  height: 200px;      
  object-fit: cover;  
  border-radius: 8px;
  border: 2px solid #ddd;
}

.full {
  width: 60%;
  display: block;
  margin: 20px auto;
}
figure {
  text-align: center;
}